body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    padding: 0.5em 0;
}

nav {
    margin-top: 0.5em;
}

nav a {
    color: white;
    margin: 0 1em;
    text-decoration: none;
}

main {
    padding: 9em 1em 1em; 
    flex: 1;
}

#product-detail {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    gap: 2em;
    align-items: start;
}

#product-info {
    border: 1px solid #ccc;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#product-image img {
    max-width: 100%;
    border-radius: 5%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#product-name, .product-description, .product-price, .product-availability {
    margin: 0.5em 0;
}

#add-to-cart {
    background-color: #333;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
}

#add-to-cart:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: white;
    padding: 0.01em 0;
    text-align: center;
}

footer img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 0 0.5em;
}